#coord {
  position: relative;
  width: 500px;
  height: 500px;
  border: 1px solid #a0a0a0;
}


.y-text {
  font-size: 6px;
  text-anchor: end;
  fill: #666;
}
.x-text {
  text-anchor: middle;
  font-size: 6px;
  fill: #313131;
}
